# Virtual Environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# Dataset
*.csv
*.xlsx
*.xls

# Models & Weights
*.joblib
*.pth
*.pt
*.h5
*.onnx
*.bin
!house_price_random_forest.pkl